$DARK_PRIMARY_COLOR: #e64a19;
$LIGHT_PRIMARY_COLOR: #ffccbc;
$PRIMARY_COLOR: #ff5722;
$ACCENT_COLOR: #ffc107;
$PRIMARY_TEXT: #212121;
$SECONDARY_TEXT: #757575;
$DIVIDER_COLOR: #bdbdbd;
$TEXT_COLOR: #ffffff;
